*{
    margin: 0;
    padding: 0;
    font-family: 'GenshinFont', sans-serif;
}

@font-face {
    font-family: 'GenshinFont';
    src: url(genshinfont.ttf);
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background: #734949;
    padding: 0;
}

.navbar-brand img{
    height: 90px;
    padding-left: 40px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/** BANNER SECTION **/
#banner{
    background-image: linear-gradient(to right, #BF3636,#734949);
    color: #fff;
    padding-top: 5%;

}

.promo-title{
    font-size: 60px;
    font-weight: 600;
    margin-top: 100px;
}
.promo-title:hover{
    color: #000;
}

.order-btn{
    width: 300px;
    margin: 20px;
}

#banner a{
    color: #000;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}

/**SERVICES SECTION**/
#services{
    padding: 80px 0;
    
}
.service-img{
    width: 100px;
    margin-top: 20px ;
}

.services{
    padding: 20px;
    background: #734949;
    border-radius: 25%;
}


.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    color: #fff;
}

.services h4:hover{
    color: #BF7154;
}

.services p{
    color: #fff;
}

.title::before{
    content: '';
    background: #BF3636;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after{
    content: '';
    background: #BF3636;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
.title:hover{
    color: #000;
}
.title2::before{
    content: '';
    background: #BF3636;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title2::after{
    content: '';
    background: #BF3636;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
.title2:hover{
    color: #BF3636;
}
#services .btn-primary{
    box-shadow: none;
    padding: 8 px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #BF3636,#734949);
}

/**ABOUT US SECTION*/
#about-us{
    padding: 80px 0;
    background-image: linear-gradient(to right, #BF3636,#734949);
    color:#fff;
}
.about-us-img{
    width: 100px;
    margin-top: 20px ;
}

.about-us{
    padding: 80px;
}

.about-us h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}




